*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
header {
    background: #0044cc;
    color: #23a571;
    width: 100%;
    padding: 10px;
    /* text-align: center; */
    position: fixed;
    z-index: 100;
}
nav>ul{
    display: flex;
justify-content: space-evenly;
position: relative;
right: 20px;
list-style: none;

}
nav>ul>li>a{
    position: relative;
    top: 10px;
    padding: 20px;
    }
  
a:hover{
   color: #b43c3c;
   transition: 2 ease; 
transition-duration: 0.9s;
background-color:rgb(14, 33, 138);
text-decoration: none;
text-transform: capitalize;
transition-timing-function: linear;
}
.logo>img{
    width: 100px;
    position: relative;
    right: 40px;
    /* padding-right: 20px; */
}
.container1{
    position: relative;
    top: 100px;

}

.contact{
    min-height: 100vh;
    background-color: #395465;

    padding: 50px;
    text-align: center;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    top: 90px;
    position: relative;
}
.container h2{
    font-size: 36px;
margin-bottom: 40px;
color: #050404;

}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.contact.form{
    text-align: left;
}
.contact.form h3{
    font-size: 24px;
    margin-right: 20px;
    color: rgb(50, 204, 39);
    border-color: #333;
}
.form-group{
    margin-bottom: 20px;
  border-color: #0f0f0f;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color:darkgray;
    color:white;
}
input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
    
}
.button{
display: inline-block;
padding: 12px 24px;
background-color: #b43c3c;
color: #333;
cursor: pointer;
border: none;

}
.button:hover{
background-color: #23a571;

}
footer{
    background-color:beige;
    position: relative;
}
.footercontainer{
width:100px ;
padding: 70px 30px 20px;
}
.socialicons{
display: flex;
justify-content: center;
}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color:white;
    margin: 10px;
    border-radius:50px ;
}
.socialicons a i{
    font-size: 2em;
    color: red;
    opacity: 0.9;
}
.socialicons a:hover{
    background-color: black;
    transition: 0.5s;
}
.socialicons a :hover i{
color:white;
transition: 0.5s;
}
.footernav{
    margin: 30px;
}
.footernav ul{
    display: flex;
    justify-content: center;
  
}
.footernav ul li a{
    color: rgb(167, 28, 28);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    transition: 0.9s;
    opacity: 0.9;
    transition-duration: none;
    text-transform: capitalize;
  
}
.footernav ul li a:hover{
opacity: 1;
}
.footerbottom{
    background-color:white;
    padding: 20px;
}
.footerbottom p{
color: rgb(78, 72, 72);
display: flex;
padding-left: 450px;

}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media(max-width:70px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 20px;
        padding-left: 80px;
        
    }
}


